<div class='p'>
  Hello<%= " #{@user.name}" if @user.name.present? %>,
</div>

<div class='p'>
  <%= @application.invite_message %>
  <br/>

  <div class='email-link'>
    <%= link_to @application.invite_cta, @url %>
  </div>
</div>

<% if @application.support_message.present? %>
  <div class='p'>
    <%= @application.support_message %>
  </div>
<% end %>

<div class='p'>
  Or copy and paste this link into your browser: <%= @url %>
</div>
