<div class='p'>
  Hello<%= " #{@user.name}" if @user.name.present? %>,
</div>

<div class='p'>
  <%= @mail_helper.invite_message %>
  <br/>

  <div class='email-link'>
    <%= link_to @mail_helper.invite_cta, @mail_helper.invite_url %>
  </div>
</div>

<% if @mail_helper.support_message.present? %>
  <div class='p'>
    <%= @mail_helper.support_message %>
  </div>
<% end %>

<div class='p'>
  Or copy and paste this link into your browser: <%= @mail_helper.invite_url %>
</div>
