<!DOCTYPE html>
<html>
  <head>
    <title>
      Shape <%= "| #{ENV['SHAPE_APP']}" unless ENV['SHAPE_APP'] == 'production' %>
    </title>
    <%= render 'layouts/metatags_and_favicons' %>
    <script>
      window.CONFIG = {
        stripeApiKey: '<%= stripe_js_api_key %>',
        clientId: '<%= ideo_sso_client_id %>',
        networkApiBaseUrl: '<%= ideo_sso_api_base_url %>'
      }
    </script>
    <script id="stripe-js" type="text/javascript" src="<%= stripe_js_sdk_url %>"></script>
    <script type="text/javascript"
      src="<%= ideo_sso_js_sdk_url %>">
    </script>
    <script>
      if (typeof IdeoSSO === 'undefined') {
        window.IdeoSSO = {
          init: function() {},
          baseApiUrl: '',
        }
      }
      IdeoSSO.init(<%= ideo_sso_init_params.to_json.html_safe %>)
      // useful variables for analytics
      window.analytics = {
        LOGGED_IN: <%= user_signed_in? %>
      }
    </script>
    <%= render 'layouts/trackers_and_widgets_head' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'babel-polyfill' %>
  </head>

  <body>
    <%= render 'layouts/trackers_and_widgets_body' %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
