<!DOCTYPE html>
<html>
  <head>
    <title>OIE 2.0</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="https://d3none3dlnlrde.cloudfront.net/1.0/js/ideo-sso-js-sdk.min.js"></script>
    <link href="https://d3none3dlnlrde.cloudfront.net/1.0/css/ideo-sso-js-sdk.min.css" rel="stylesheet" />
    <script>
      IdeoSSO.init({
        client: '<%= ENV['OKTA_CLIENT_ID'] %>',
        redirect: '<%= ENV['OKTA_REDIRECT_URL'] %>'
      });
    </script>
    <!-- provide polyfills e.g. for `fetch`  -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
