<!DOCTYPE html>
<html>
  <head>
    <title>
      Shape <%= "| #{ENV['SHAPE_APP']}" unless ENV['SHAPE_APP'] == 'production' %>
    </title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript"
      src="https://d3none3dlnlrde.cloudfront.net/1.0/js/ideo-sso-js-sdk.min.js">
    </script>
    <script>
      IdeoSSO.init(<%= ideo_sso_init_params.to_json.html_safe %>)
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
