<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'email' %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-inner">
        <div class="email-header">
          <a class="email-header__logo" href="<%= ENV['BASE_HOST']%>" title="<%= @application_name %>">
            <img alt="<%= @application_name %>" src="<%= @application_logo %>" />
          </a>
        </div>


        <div class="email-content">
          <%= yield %>
        </div>

        <div class="email-footer">
          <div class="email-footer__why">
            You are receiving this email because you have an account or have been invited to <%= @application_name %>.
          </div>

          <div>
            <a class="underlined" href="<%= "#{root_url}user_settings" %>">
              Unsubscribe
            </a>
          </div>

          <div class="email-footer__copyright">&copy; 2018 IDEO</div>

          <div class="email-footer__address">
            Pier 28 Annex, The Embarcadero<br />
            San Francisco, CA 94105
          </div>
        </div>

    </div>
  </body>
</html>
